/*
    Elmos_Cheez-its: Amanda Tan, Ethan Sie, Aidan Wong
    SoftDev
    K17 - Styling with CSS
    2024-10-15
    time spent: 1.0
*/

body {
    background-color: #666666;
    font-family: 'Arial', 'sans-serif';
}

header {
    text-align: center;
    color: white;
    background-color: #BFBEBF;
}

header h1 {
    font-size: 33px;
    padding: 10px;
}

.container {
    display: flex;
    padding: 20px;
    padding-top: 0px;
    background-color: #767676;
    margin-top: -22px;
}

nav {
    width: 20%;
}

main {
    width: 80%;
}

.item {
    color: white;
    font-weight: bold;
    padding: 2px;
}

footer {
    background-color: #565757;
    padding: 15px;
    font-size: 18px;
    text-align: right;
    color: gray;
}
