<!DOCTYPE html>
<!--
Elmos_Cheez-its: Amanda Tan, Ethan Sie, Aidan Wong
SoftDev
K18 - CSS Styling with Flask
2024-10-16
time spent: 0.2
 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cosmic Mimic</title>
</head>
<body>
    <header>
        <h1>h1 foo</h1>
    </header>
    <div class="container">
        <nav>
            <h2>nav foo</h2>
            <div class="item">dis</div>
            <div class="item">dat</div>
            <div class="item">de udda ting</div>
        </nav>
        <main>
            <h2>main foo heading</h2>
        <p>As a patch of light another world hydrogen atoms cosmic fugue billions upon billions birth? Rings of Uranus tendrils of gossamer clouds Jean-François Champollion from which we spring extraordinary claims require extraordinary evidence a mote of dust suspended in a sunbeam. Gathered by gravity not a sunrise but a galaxyrise invent the universe gathered by gravity a still more glorious dawn awaits vastness is bearable only through love.</p>
        <p>From which we spring astonishment paroxysm of global death rich in mystery consciousness Apollonius of Perga? Citizens of distant epochs at the edge of forever star stuff harvesting star light star stuff harvesting star light tendrils of gossamer clouds laws of physics. Star stuff harvesting star light emerged into consciousness of brilliant syntheses invent the universe cosmic ocean of brilliant syntheses. Globular star cluster the carbon in our apple pies a mote of dust suspended in a sunbeam the carbon in our apple pies bits of moving fluff kindling the energy hidden in matter and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
        </main>
    </div>

    <footer>Copyright © 2015 Clyde "Thluffy" Sinclair</footer>
</body>
</html>
